@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import "../../palette.scss";

.title{
  position: relative;

  .main {
    font-size: 64px;
    color: whitesmoke;
    font-weight: 800;
    margin: 0;
  }

  .sub {
    color: darken(whitesmoke, 20%);
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 70%;
    animation: anim 0.7s infinite alternate ease-in-out;
    font-family: 'Minecraft', sans-serif;
  }
}

@keyframes anim {
  0% {
    transform: translateX(50%) rotate(-20deg) scale(1);
  }
  100% {
    transform: translateX(50%) rotate(-20deg) scale(1.1);
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  height: 80vh;

}


.join{
  width: 400px;
}

.button {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $surface1;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.credits {
  color: $mauve;
  font-size: 24px;

  a {
    color: $subtext1;
    text-decoration: none;
    transition: border-bottom 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $subtext1;
    }
  }
}


.logo img{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}